<widget id="com.example.hello" version="0.0.9" dolibarr.standalone.atm>
     <name>DolibarrStandalone</name>
    <description>Application de consultation, synchronisation pour Dolibarr sur téléphone</description>
    <author href="http://www.atm-consulting.fr" email="support@atm-consulting.fr">ATM Consulting</author>
	<content src="index.html" />
    <access origin="*" />
</widget>